@import "../../static/styles/base.scss";

.home {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - $navHeight);
  }

  .article-item {
    margin-bottom: 1rem;
  }

  .article-card-list {
    padding: 0 1rem;
  }
}
