@import "../../static/styles/base.scss";

.card {
  border-radius: $bigRadius;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;

  &.small {
    padding: 1rem;
  }

  &.big {
    padding: 2rem;
  }

  &.hover-card:hover {
    transform: scale(1.05); /* Scale by 1.1 on hover */
    //cursor: pointer;
  }
}

