@import "../../static/styles/base.scss";

.card {
  border-radius: $bigRadius;
  padding: 2rem;
}

.main-card {
  background-color: $themeColor;
}

.secondary-card {
  background-color: $themeColor1;
}
