.article-card {
  margin-bottom: 1rem;

  .card-title {
    text-align: center;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-badge {
    display: flex;
    justify-content: space-between;

    .card-tags > .badge {
      margin-left: 1rem;
    }
  }
}
