.article-card {

  .card-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.6rem 0rem;
  }

  // only display 3 lines of text
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-badge {
    display: flex;
    justify-content: space-between;

    .card-tags > .badge {
      margin-left: 0.7rem;
    }

    .card-tags {
      display: flex;
      flex-wrap: wrap;
    }

    
    
  }
}
