.article-card {
    margin-bottom: 1rem;

  .card-title {
    text-align: center;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover{
     transform: scale(1.05); /* Scale by 1.1 on hover */
  }
}
