@import "../../static/styles/base.scss";

.badge {
  padding: 0.2rem 0.45rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  background: $themeColor2;
  white-space: nowrap;
  margin: 0.1rem 0.1rem;
  

  // when class with hover activate hover
  &.hover-badge:hover {
    background-color: $hoverColor;
  }

  &.main-color {
    background-color: $themeColor1;
  }
}
