@import "../../../static/styles/base.scss";

.single-article {
  .Title {
    height: auto;
    margin: 0 0 2rem 0;
  }

  .title-container {
    margin: 20vh 0 10vh 0;
  }

  .article-metadata {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: $textColor2;

    svg {
      fill: $textColor2;
    }

    .metadata-list > *::after {
      content: "|";
      margin: 0 0.5rem;
    }

    .metadata-list :last-child::after {
      content: "";
    }
  }
}
