@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./static/fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DengXian";
  src: url("https://fonts.cdnfonts.com/css/dengxian");
}

.AppBox {
  font-family: 'DengXian', sans-serif;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg0 {
  background-image: url(./static/imgs/bg0.webp);
}
.bg1 {
  background-image: url(./static/imgs/bg1.webp);
}
.bg2 {
  background-image: url(./static/imgs/bg2.webp);
}
