* {
  box-sizing: border-box;
  transition: 0.1s;
  color: white;
}


body {
  font-size: 20px;
  min-height: 1vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}
