@import "../../static/styles/base.scss";

.Catalog {
  // max-width: $asideWidth;
  min-width: var($asideWidth - 200px);
  .catalog-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .catalog-item {
    margin: 0.2rem 0;
    width: 100%;

    span {
      width: 100%;
      display: inline-block;
    }
  }
}

